/* src/App.css */

.app-layout {
  display: flex;
  height: 100vh;
}

.app-sidebar {
  padding: 10px;
  
}

.app-sidebar--left {
  width: 20%;
  
}

.app-sidebar--right {
  width: 20%;
  
}

.app-canvas {
  width: 60%;
  padding: 10px;
  
}
