.canvas {
  min-height: 400px;
  border: 2px solid hsla(160, 84%, 39%, 0.50);
  background-color: #111827;
  backdrop-Filter: blur (8px);
  
  
  padding: 24px;
  

}

.canvas--over {
  background-color: rgb(26, 32, 44);
}

.canvas__title {
  margin-bottom: 10px;
  padding: 15px 0px;
  display: flex;
  align-Items: center;
  gap: 10px;
  font-Family: Inter, sans-serif;
  font-weight: 700;
  /* Negrita fuerte */
  letter-spacing: -0.02em;
  /* Un poco más junta para que se vea moderna */
  color: #ffffff;
  font-Weight: 700;
  font-Size: 35px;
  margin-Bottom: 10px;
}

.canvas__empty {
  color: #9CA3AF;
  font-Style: italic;
  font-Size: 14px;
  margin-Bottom: 25px;

}