.field-palette {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field-palette h3 {
  margin-bottom: 12px;
  color: #FFFFFF;
  font-size: 25px;
}

.field-palette__title {
  margin-bottom: 8px;
}

.palette-field {
  padding: 8px 16px;
  border: 1px solid #4b5563;
  background: #FFFFFF12;
  cursor: grab;
  user-select: none;
  transition: background 0.2s ease, border-color 0.2s ease;
  border-radius: 8px;
  font-size: 15px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  text-transform: uppercase;

  
}


.palette-field:hover {
  color: #FFFFFF;
  background: #FFFFFF12;
  border-color: hsla(160, 84%, 39%, 0.50);
}

.palette-field:active {
  cursor: grabbing;
}
