/* src/App.css */

.app-layout {
  display: flex;
  height: 100vh;
}

.app-sidebar {
  padding: 10px;
  
}

.app-sidebar--left {
  width: 20%;
  
}

.app-sidebar--right {
  width: 20%;
  
}

.app-canvas {
  width: 60%;
  padding: 10px;
  
}

.app-canvas__actions {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.app-save-button {
  padding: 6px 12px;
  background-color: #2ecc71;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 10px;
}

.app-save-button:hover {
  background-color: #00ff6a;
}

.app-cancel-button {
  background-color: #ccc;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.app-cancel-button:hover {
  background-color: #ffffff;
}

.app-errors{
  color: #fff;
  margin-left: 10px;
}